footer p{
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin:0;
    margin-bottom: 10px;
}

footer{
    height: 40px;
    display: flex;
    align-items: center;
    margin:0 100px;
}

@media only screen and (max-width: 700px) {
    footer{
        margin: 0 40px;
    }
}